<!-- Main table -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="far fa-calendar-alt"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Today Reservation</span>
            <span class="info-box-number">
              <%= todayReservation %>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"><i class="far fa-star"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Rating</span>
            <span class="info-box-number"><%= rating[0]? rating[0].avg: '-' %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Today Income</span>
            <span class="info-box-number">
              <%= Intl.NumberFormat('en-US',{
                style: 'currency',
                currency: 'IDR',
                }).format(todayIncome[0] ? todayIncome[0].total : 0) ?? ''
              %>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total Users</span>
            <span class="info-box-number"><%= userTotal %></span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title mt-2"><b>Today Reservation</b></h3>
            <!-- <div style="text-align: right;">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#input-modal">
                Add
              </button>
            </div> -->
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>No</th>
                <th>Username</th>
                <th>Phone Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < reservation.length; i++){ %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= reservation[i].userId.username %></td>
                    <td><%= reservation[i].userId.phoneNumber %></td>
                    <td><%= reservation[i].date?? ''%></td>
                    <td><%= reservation[i].time %></td>
                    <td class="text-center"><% if(reservation[i].status === 'Waiting'){ %>
                      <span class="badge badge-warning">
                        <%= reservation[i].status %>
                      </span>
                      <% } else if(reservation[i].status === 'Canceled') { %>
                        <span class="badge badge-danger">
                          <%= reservation[i].status %>
                        </span>
                      <% } else if(reservation[i].status === 'Success') { %>
                        <span class="badge badge-success">
                          <%= reservation[i].status %>
                        </span>
                      <% } %>
                    </td>
                    <td class="text-center">
                      <% if(reservation[i].status === 'Waiting') { %>
                        <form 
                          style="display: inline-block;"
                          action="/reservation/status/<%= reservation[i]._id %>?status=Canceled&_method=PUT" 
                          method="POST"
                        >
                          <button class="btn btn-danger btn-sm" type="submit">
                            Cancel
                          </button>
                        </form>
                        <a href="javascript:void()" type="button" 
                        class="btn btn-success btn-sm btn-confirm-modal" 
                        data-id="<%= reservation[i]._id %>"
                        >
                          Confirm
                        </a>
                      <% } else { %>
                        <a href="javascript:void()" type="button" 
                        class="btn btn-info btn-sm btn-detail-modal" 
                        style="margin-right: 6px;" 
                        data-username="<%= reservation[i].userId.username %>"
                        data-userstatus="<%= reservation[i].userId.phoneNumber %>"
                        data-number="<%= reservation[i].phoneNumber %>"
                        data-date="<%= reservation[i].date %>"
                        data-time="<%= reservation[i].time %>"
                        data-status="<%= reservation[i].status %>"
                        >
                          Detail
                        </a>
                      <% } %>
                    </td>
                  </tr>
                <% } %>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.table -->