<!-- Main table -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Review</th>
                  <th>Rating</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < review.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= review[i].name %></td>
                      <td><%= review[i].review %></td>
                      <td><%= review[i].rating %></td>
                      <td class="text-center">
                        <a href="javascript:void()" type="button" 
                        class="btn btn-info btn-sm btn-detail-modal" 
                        style="margin-right: 6px;" 
                        data-username="<%= review[i].name %>"
                        data-review="<%= review[i].review %>"
                        data-rating="<%= review[i].rating %>"
                        >
                          Detail
                        </a>
                      </td>
                    </tr>
                  <% } %>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.table -->