<!-- Main table -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <!-- <h3 class="card-title mt-2"><b>Reservation</b></h3> -->
              <div style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#input-modal">
                  Add
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Phone Number</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < reservation.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= reservation[i].username %></td>
                      <td><%= reservation[i].phoneNumber %></td>
                      <td><%= reservation[i].date %></td>
                      <td><%= reservation[i].time %></td>
                      <td class="text-center"><% if(reservation[i].status === 'Waiting'){ %>
                        <span class="badge badge-warning">
                          <%= reservation[i].status %>
                        </span>
                        <% } else if(reservation[i].status === 'Canceled') { %>
                          <span class="badge badge-danger">
                            <%= reservation[i].status %>
                          </span>
                        <% } else if(reservation[i].status === 'Success') { %>
                          <span class="badge badge-success">
                            <%= reservation[i].status %>
                          </span>
                        <% } %>
                      </td>
                      <td class="text-center">
                        <form action="/reservation/<%= reservation[i]._id %>?_method=DELETE" method="POST">
                          <a href="/reservation/edit/<%= reservation[i]._id %>" class="btn btn-info btn-sm">
                            Edit
                          </a>
                          <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                          </button>
                        </form>
                      </td>
                    </tr>
                  <% } %>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.table -->