<!-- Main table -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <!-- <h3 class="card-title mt-2"><b>Reservation</b></h3> -->
              <div style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#input-modal">
                  Add
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Phone Number</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < reservation.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= reservation[i].username %></td>
                      <td><%= reservation[i].phoneNumber %></td>
                      <td><%= reservation[i].date?? ''%></td>
                      <td><%= reservation[i].time %></td>
                      <td class="text-center"><% if(reservation[i].status === 'Waiting'){ %>
                        <span class="badge badge-warning">
                          <%= reservation[i].status %>
                        </span>
                        <% } else if(reservation[i].status === 'Canceled') { %>
                          <span class="badge badge-danger">
                            <%= reservation[i].status %>
                          </span>
                        <% } else if(reservation[i].status === 'Success') { %>
                          <span class="badge badge-success">
                            <%= reservation[i].status %>
                          </span>
                        <% } %>
                      </td>
                      <td class="text-center">
                        <% if(reservation[i].status === 'Waiting') { %>
                          <form style="display: inline-block;"
                          action="/reservation/status/<%= reservation[i]._id %>?status=Canceled&_method=PUT" method="POST">
                            <button class="btn btn-danger btn-sm" type="submit">
                              Cancel
                            </button>
                          </form>
                          <a href="javascript:void()" type="button" 
                          class="btn btn-success btn-sm btn-confirm-modal" 
                          data-id="<%= reservation[i]._id %>"
                          >
                            Confirm
                          </a>
                        <% } else { %>
                          <button class="btn btn-info btn-sm" type="submit">
                            Detail
                          </button>
                        <% } %>
                      </td>
                    </tr>
                  <% } %>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.table -->