<%- include('../../parts/head.ejs') %>

<!-- wrapper -->
<div class="wrapper">

  <%- include('../../parts/navbar.ejs') %>
  <%- include('../../parts/aside.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Reservation</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Reservation</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <%- include('../../parts/message.ejs') %>
    <%- include('./table') %>
    <%- include('./detail') %>
    <%- include('./input-reservation') %>
    <%- include('./input-transaction') %>

  </div>
  <!-- /.content-wrapper -->

  <%- include('../../parts/control-sidebar.ejs') %>

</div>
<%- include('../../parts/js.ejs') %>
<script>
  $(function () {
    //Confirm modal
    $('#example1').on('click', '.btn-confirm-modal', function() {
      let id = $(this).data('reservid')
      let userId = $(this).data('userid')

      $('#input-modal-transaction').modal('show')
      
      $('._id-parsing').val(id)
      $('.userId-parsing').val(userId)
    })
    //Detail modal
    $('#example1').on("click", '.btn-detail-modal', function() {
      let username = $(this).data('username')
      let number = $(this).data('number')
      let date = $(this).data('date')
      let time = $(this).data('time')
      let status = $(this).data('status')

      $('#detail-modal').modal('show')
      
      $('.username-parsing').val(username)
      $('.number-parsing').val(number)            
      $('.date-parsing').val(date)            
      $('.time-parsing').val(time)            
      $('.status-parsing').val(status)            
    })
    //Datepicker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
  })

</script>