<!-- Main table -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <!-- <h3 class="card-title mt-2"><b>Member</b></h3> -->
              <div style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#input-modal">
                  Add
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Username</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < member.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= member[i].username %></td>
                      <td><%= member[i].role %></td>
                      <td class="text-center">
                        <% if(member[i].status === 'Active') { %>
                          <span class="badge badge-success">
                            <%= member[i].status %>
                          </span>
                        <% } else { %>
                          <span class="badge badge-danger">
                            <%= member[i].status %>
                          </span>
                        <% } %>
                      </td>
                      <td class="text-center">
                        <a href="javascript:void()" type="button" 
                        class="btn btn-primary btn-sm btn-edit-modal"  
                        data-id="<%= member[i]._id %>"
                        data-username="<%= member[i].username %>"
                        data-role="<%= member[i].role %>"
                        data-status="<%= member[i].status %>"
                        >
                          Edit
                        </a>
                      </td>
                    </tr>
                  <% } %>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.table -->