<!-- Main table -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <!-- <h3 class="card-title mt-2"><b>Transaction</b></h3> -->
              <div style="text-align: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#input-modal">
                  Add
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Member</th>
                  <th>Service</th>
                  <th>Payment</th>
                  <th>Total</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < transaction.length; i++){ %>
                    <tr>
                      <td><%= i + 1 %></td>
                      <td><%= transaction[i].date?? '' %></td>
                      <td><%= transaction[i].time %></td>
                      <td><%= transaction[i].memberId.username %></td>
                      <td><%= transaction[i].service?? '' %></td>
                      <td><%= transaction[i].payment %></td>
                      <td><%= Intl.NumberFormat('en-US',{
                        style: 'currency',
                        currency: 'IDR',
                        }).format(transaction[i].total) ?? ''%>
                      </td>
                      <td class="text-center">
                        <a
                          href="/transaction/<%= transaction[i]._id %>" 
                          class="btn btn-info btn-sm btn-detail-modal"
                        >
                          Detail
                        </a>
                      </td>
                    </tr>
                  <% } %>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.table -->