<%- include('../../parts/head.ejs') %>

<!-- wrapper -->
<div class="wrapper">

  <%- include('../../parts/navbar.ejs') %>
  <%- include('../../parts/aside.ejs') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Transaction</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/transaction">Transaction</a></li>
              <li class="breadcrumb-item active">Detail</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Edit -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="form-group row">
                  <label for="date" class="col-sm-2 col-form-label">Date & Time Reservation</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Date" value="<%= transaction.reservationId.date %>" disabled>
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Time" value="<%= transaction.reservationId.time %>" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="date" class="col-sm-2 col-form-label">Date Transaction</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Date" value="<%= transaction.date %>" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="time" class="col-sm-2 col-form-label">Time</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Time" value="<%= transaction.time %>" disabled>
                  </div>
                </div>       
                <div class="form-group row">
                  <label for="member" class="col-sm-2 col-form-label">Member</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Member" value="<%= transaction.member %>" disabled>
                  </div>
                </div>       
                <div class="form-group row">
                  <label for="payment" class="col-sm-2 col-form-label">Payment</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Payment" value="<%= transaction.payment %>" disabled>
                  </div>
                </div>       
                <div class="form-group row">
                  <label for="product" class="col-sm-2 col-form-label">Product</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Product" value="<%= transaction.product %>" disabled>
                  </div>
                </div>       
                <div class="form-group row">
                  <label for="total" class="col-sm-2 col-form-label">Total</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Total" value="<%= transaction.total %>" disabled>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-end">
                <a href="/transaction" class="btn btn-primary">
                  Back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- /.content-wrapper -->

  <%- include('../../parts/control-sidebar.ejs') %>

</div>
<%- include('../../parts/js.ejs') %>
<script>
  $('#example2').on('click', '.btn-edit-modal', function() {
    //
  })
</script>
